/* * {
  border: 1px solid red;
} */

body {
  background-color: #d0d2d1;
  padding: 0;
  margin: 0;
  color: #919191;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
}

button {
  background-color: #f44a2b;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  border-style: none;
  font-size: 16px;
}

h1 {
  color: #0f0e12;
  font-size: 48px;
  margin: 0;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
}

.header__container,
.intro__container,
.info__container,
.quote__container,
.cta__container,
.footer__container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  padding-left: 5rem;
  padding-right: 5rem;
}

.header__flexbox,
.intro__flexbox,
.info__flexbox,
.info__title,
.quote__flexbox,
.cta__flexbox,
.footer__flexbox,
.info__blocks {
  display: flex;
  flex: 1;
  margin: 8px 5rem;
  align-items: center;
  justify-content: center;
}

.header__container,
.intro__container,
.footer__container {
  background-color: #d0d2d1;
}

.header__flexbox {
  margin-top: 1rem;
}

.header__logo {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  flex: 1;
}

.header__logo img {
  max-height: 50px;
}

.header__menu a {
  color: #919191;
  margin: 0 0 0 1rem;
  font-size: 16px;
}

.intro__container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.intro__text {
  flex: 1;
  padding-right: 2rem;
}

.intro__image {
  display: flex;
  flex: 1;
}

.intro__image img {
  object-fit: scale-down;
  width: 30rem;
  height: 30rem;
  margin-left: auto;
}

.intro__text p {
  color: #919191;
  margin-top: 0;
  margin-bottom: 10px;
}

.intro__text button {
  margin-bottom: 1rem;
}

.info__container {
  background-color: #f0f0ef;
  color: #1f2937;
  padding-bottom: 5rem;
}

.info__flexbox {
  flex-direction: column;
}

.info__title {
  text-align: center;
}

.info__blocks {
  flex-direction: row;
  flex-wrap: wrap;
}

.info__block {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  max-width: 11rem;
}

.info__block p {
  color: #919191;
  text-align: center;
}

.info__image-container {
  width: 10rem;
  height: 10rem;
  /* border: 4px solid #F44A2B; */
  border-radius: 50%;
  background: #f0f0ef;
  box-shadow: 16px 16px 32px #cccccb, -16px -16px 32px #ffffff;
}

.info__image-container img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.quote__container {
  background-color: #d0d2d1;
  color: black;
  padding: 3rem 5rem;
}

.quote__flexbox {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
}

.quote__flexbox strong {
  color: #919191;
}

.quote__flexbox h3 {
  color: #1f2937;
}

.quote__container em {
  font-weight: lighter;
  font-size: 36px;
  color: #1f2937;
}

.cta__container {
  background-color: #f0f0ef;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.cta__flexbox {
  background-color: #fab413;
  border-radius: 5px;
  margin: 2rem 5rem;
  padding: 1rem;
}

.cta__text {
  flex: 2;
  padding: 2rem 4rem;
}

.cta__text p {
  color: #0f0e12;
  margin: 0;
}

.cta__button {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cta__button button {
  background-color: #fab413;
  color: #0f0e12;
  border: 2px solid #0f0e12;
}

.footer__container {
  color: #919191;
}

@media screen and (min-width: 1350px) {
  .quote__flexbox {
    padding: 0 10rem;
  }

  .intro__container {
    padding: 10rem 5rem;
  }

  .intro__image {
    width: 60rem;
    height: 20rem;
  }

  .intro__image img {
    width: 50rem;
    height: 20rem;
  }

  .cta__container {
    margin: 2rem 0;
    padding: 2rem 20rem;
  }

}

@media screen and (max-width: 1290px) {
  .info__image-container {
    width: 140px;
    height: 140px;
  }

  .info__block img {
    width: 140px;
    height: 140px;
  }
}

/* Based on iPad Air */
@media screen and (max-width: 820px) {
  .intro__container {
    padding: 2rem 2rem;
  }
  
  .intro__flexbox {
    margin: 0 2rem;
  }

  .intro__text h1 {
    font-size: 36px;
  }

  .intro__image img {
    width: 20rem;
    height: 20rem;
  }

  .info__container {
    padding-top: 3rem;
  }

  .info__flexbox {
    margin: 1rem 1rem;
  }
  
  .quote__container em {
    font-size: 24px;
  }

  .quote__flexbox {
    padding: 1rem 0;
  }

  .cta__text {
    padding: 1rem;
  }

}

@media screen and (max-width: 614px) {
  .header__container {
    padding: 1rem;
  }
  .header__flexbox {
    margin: 1rem 1rem;
  }

  .intro__container {
    padding: 2rem;
  }

  .intro__container p{
    font-size: 16px;
    padding-right: 3rem;
  }

  .intro__text {
    padding-right: 0;
  }

  .intro__flexbox {
    flex-direction: column;
  }

  .intro__image {
    width: 20rem;
    height: 10rem;
  }

  .intro__image img {
    width: 20rem;
    height: 10rem;
  }

  .info__container {
    padding: 1rem 0;
  }

  .info__block {
    margin: 2rem 0;
  }

  .info__flexbox h2 {
    text-align: left;
    font-size: 32px;
  }

  .quote__container {
    padding: 48px 0;
  }

  .quote__container em {
    font-size: 16px;
  }

  .quote__flexbox {
    padding: 0 2rem;
    margin: 8px 0;
  }

  .cta__flexbox {
    flex-direction: column;
    margin: 3rem 0;
  }

  .cta__text {
    padding: 1rem;
  }

  .footer__container {
    padding: 1rem;
  }

  .footer__flexbox {
    margin: 0;
  }
}
